* {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: 117vh;
  background-image: url(Donatebg.png);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 1200px;
  height: 50px;
  padding-top: 10px;
  padding-left: 35px;
}
.logo {
  color: #ff7200;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  margin: 2px 2px;
  padding: 10px 10px;
}

.content {
  padding-left: 30px;
  height: auto;
  margin: auto;
  color: #5b2424;
  position: relative;
}
.content h1 {
  font-family: "Times New Roman";
  font-size: 40px;
  padding-left: 30px;
  margin-top: 29px;
  letter-spacing: 2px;
}
.content span {
  color: #8a2d2d;
  font-size: 35px;
}
.sub-title{
  padding: 2px;
  padding-left: 45px;
}
.tab-title{
  padding-top: 2px;
  padding-left: 25px;
  width: 49%;
  font-size: 20px;
  text-align: center;
}

.form {
  width: 250px;
  height: 480px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%);
  position: absolute;
  top: 130px;
  left: 1000px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
}

.form h2 {
  /* width: 220px; */
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.amt {
  padding-top: 10px;
  color: white;
  text-decoration: solid;
}
.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;

}
/* .form input:focus {
  outline: none;
} */

::placeholder {
  color: #fff;
  font-family: Arial;
}

.btn {
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btn:hover {
  background: #fff;
  color: #ff7200;
}
.btn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link {
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a {
  text-decoration: none;
  color: #ff7200;
}
.mybtn {
  align-items: left;
  text-align: center;
  display: block;
  margin: 150px 445px;
  font-weight: bold;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ff7200;
  color: rgb(2, 2, 2);
  transition: background 0.3s;
}
.mybtn:hover {
  background: #fff;
  color: #ff7200;
}


.contact-us{
padding-top: 8.1%;
padding-left: 5%;
}

/* .copyright {
  width: 100%;
  text-align: center;
  font-weight: bold;
} */


/* -----------------footer-------------- */
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;

}
.social-icons {
  font-size: 20px;
  padding-top: 18px; 
}
.social-icons a {
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  color: #fffafa;
  cursor: pointer;
}
.social-icons a:hover {
  color: #a92828;
  cursor: pointer;
}
/* --------------------------------csss---------------------- */

ul {
  display: flex;  
}
ul li {
  list-style: none;
}
ul li a {
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.3s;
  z-index: 3;
}
ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .3s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #3b5999;
}

ul li:nth-child(2) a:before{
  background: #55acee;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
}

ul li:nth-child(4) a:before {
  background: #dd4b39;
}


/* --------------------------------csss---------------------- */
.container {
  padding: 5px 10%;
  text-align: justify;
  padding-top: 2px;
}

#project {
 background-color: #000;
  align-items: center;
  padding: 20px 20px;
  color: #ffffff;
}
.row {
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.project-col-1 {
  flex-basis: 50%;
  width: 50%;
  height: fit-content;
  border-radius: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}


.project-col-2 {
  flex-basis: 50%;
  
  width: 50%;
  height: fit-content;
  border-radius: 15px;
}

.title {
  color: #fff;
}
.sub-title2 {
  padding: 8px;
  font-size: 30px;
  font-weight: 600;
  color: #6b6292; 
}

.p{
  margin-block-end: 10%;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 8px;
  background: #ffffff;
  font-weight: 300;
}
